/* Typography
*/

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: local('Lato Light'), url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato'), url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato Bold'), url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: local('Lato Italic'), url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: local('Lato Bold Italic'), url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'League Gothic';
  font-weight: 400;
  font-style: italic;
  src: local('League Gothic'), url('../fonts/LeagueGothic/LeagueGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: normal;
  src: local('Merriweather'), url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: italic;
  src: local('Merriweather Italic'), url('../fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: normal;
  src: local('Merriweather Bold'), url('../fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
}

$font-family-serif: "Merriweather", "Linux Libertine", Georgia, Cambria, "Times New Roman", Times, serif;

/* Colours
*/

$democratica-blue: #535d6c;
$light-blue: #6f7c91; /* links */
$very-light-blue: #939dac;
$ultralight-blue: #b7bec8; /* borders */
$dark-blue: #373e48; /* menu background */
$ultra-darkblue: #151e2b;
$white-blue: #dbdee3; /* homepage buttons */
$calendar-day-blue: #636f82;

$ps: #d888bb;
$psd: #cb8d41;
$pcp: #c74343;
$be: #671717;
$cds-pp: #606798;
$pev: #607454;

/* Import Foundation
*/

@import 'foundation/settings';
@import 'foundation';
@include foundation-everything;

/* General
*/

a { outline: 0 !important; }

html {
	background: $dark-blue url(../img/backgrounds/bg-texture-blue.png) repeat 0 0;
}

body.white-bg #content > div.row {
  background: $white url(../img/backgrounds/bg-texture-black.png) repeat 0 0;
  padding-top: 1rem;
  & > section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.callout {
  font-family: $body-font-family;
}

.profile-pic { /* general styling */
  width: 78px;
  height: 84px;
  overflow: hidden;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: $white-blue;
  background-color: transparent;
  text-align: center;
  img {
    width: 78px;
    height: auto;
    }
  &.ps     { border-color: rgba($ps, 0.4); }
  &.psd    { border-color: rgba($psd, 0.4); }
  &.pcp    { border-color: rgba($pcp, 0.4); }
  &.be     { border-color: rgba($be, 0.4); }
  &.cds-pp { border-color: rgba($cds-pp, 0.4); }
  &.pev    { border-color: rgba($pev, 0.4); }
}

.ribbon .profile-pic { /* mp page styling */
  display: inline-block;
}

#content ul:not(.no-bullet) li {
  list-style-type: "— ";
}

.party {
  font-size: 90%;
  line-height: 1.1;
  font-family: $body-font-family;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ps     { color: $ps; }
.psd    { color: $psd; }
.pcp    { color: $pcp; }
.be     { color: $be; }
.cds-pp { color: $cds-pp; }
.pev    { color: $pev; }

/* external links */
a[href*="//"]:not([href*="demo.cratica.org"]) {
  &::after {
    display: inline-block;
    content: '↗';
    color: $light-blue;
    margin-right: 2px;
  }
}

/* Top navigation
*/

#main-menu {
  background: $dark-blue;
  box-shadow: 0 4px 5px rgba($black, 0.4);
  margin-bottom: 2rem;
  
  .top-bar {
    a {
      color: #fff;
      font-size: 0.85rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
    
    .top-bar-title {
      span {
        display: inline-block;
        
        &#logo {
          a {
            font-family: "League Gothic", sans-serif;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1;
            padding-top: 1.125rem;
            padding-bottom: 1.125rem;
            display: block;
          }
        }
      }
    }
    
    .top-bar-left li a {
      text-shadow: 1px 1px 2px $ultra-darkblue;
    }
    
    .top-bar-right {
      .input-group {
        margin: 0;
        padding-top: 0.75rem;
        input {
          display: table-cell;
          font-size: 0.85rem;
          line-height: 1;
          margin: 0;
          padding: .5rem 1rem;
          height: 100%;
        }
        .button {
          text-transform: uppercase;
          margin-right: 0;
          text-shadow: 1px 1px 2px $ultra-darkblue;
        }
      }
    }
  }
}

/* Navigation in small screens
*/
@media screen and (max-width: 39.9375em) {

  #main-menu .top-bar {
    .row.column {
      padding-left: 0;
      padding-right: 0;
    }
    .top-bar-title {
      display: block;
      margin-right: 0;
      float: none;
      padding-right: 1rem;
      padding-left: 1rem;
      
      &::before, &::after {
        content: " ";
        display: table;
      }
      &::after { clear: both; }
      
      .main-menu-icon {
        padding: 0.2rem 0.45rem;
        margin-top: 0.75rem;
        border: 1px solid $democratica-blue;
        border-radius: 2px;
        .menu-icon {
          margin-top: -0.35rem;
        }
      }
    }
    .menu li a,
    .top-bar-right .menu .input-group {
      padding: 0.65rem 1rem;      
    }
    #responsive-menu {
      border-top: 1px solid $democratica-blue;
      padding-top: 0.25rem;
      padding-bottom: 0.45rem;
      
      &::before, &::after {
        content: " ";
        display: table;
      }
      &::after { clear: both; }
      
      .top-bar-right .input-group input {
        max-width: 100%;
      }
    }
  }  
}


/* Homepage
*/

#header {
  h1, h2, h3, h4, h5, h6,
  p { color: $ultralight-blue; }
  a { color: $white; }
}

body.home {
  #header {
    margin-top: 1.5rem;
    h1, h2, h3, h4, h5, h6,
    p { color: $ultralight-blue; }
    a { color: $white; }
  }
    
  #main {
    margin-top: 1rem;
    margin-bottom: 2rem;
    .box-button {
      a {
        display: block;
        background: $white url(../img/backgrounds/bg-texture-black.png) repeat 0 0;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 1rem;
        min-height: 10rem;
        box-shadow: 2px 2px 3px rgba($dark-blue, 0.8);
        h2 {
          padding-bottom: 0.5rem;
          border-bottom: 1px solid $ultralight-blue;
        }
        p {
          margin-bottom: 0;
        } 
      }
    }
  }
  
  .alert-box {
    color: $ultralight-blue;
    background-color: transparent;
    border: 0;
    a { color: $white; }
  }
  
  #about {
    .columns {
      color: $white;
      font-size: 1.25rem;
      line-height: 1.4;
      padding-top: 4rem;
      padding-bottom: 4rem;
      margin-top: 4rem;
      border-top: 1px solid $ultralight-blue;
      border-bottom: 1px solid $ultralight-blue;
      ul {
        font-family: $body-font-family;
        font-size: 1.125rem;
      }
      a {
        font-weight: 700;
        color: $white;
        border-bottom: 1px solid $ultralight-blue;
        &::after { color: $white; }
      }
    }
  }
}

/* Single page & About page
*/

body.single-page {
  #about {
    font-family: $font-family-serif;
    padding: 0 .9375rem;
    background: $white url(../img/backgrounds/bg-texture-black.png) repeat 0 0;
    .columns {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  h2 {
    margin-top: 2rem;
  }
}

/* Session list
*/

#content {
  .year-select {
    margin-bottom: 0.75rem;
    strong {
      color: $white;
      font-size: 2.3125rem;
      line-height: 1;
      font-weight: 300;
      padding-bottom: 0.5rem;
    }
    button.button {
      font-size: 2.3125rem;
      line-height: 1;
      font-weight: 300;
      background-color: transparent;
      border-bottom: 1px solid $ultralight-blue;
      padding: 0 0.5rem 0rem 0;
      margin-left: 0.5rem;
      &::after {
        content: "";
        display: inline-block;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2017.309%209.361'%3E%3Cpolyline%20fill='none'%20stroke='%23ffffff'%20stroke-miterlimit='10'%20points='16.956,0.354%208.655,8.654%200.354,0.354'/%3E%3C/svg%3E") no-repeat;
        width: 17px;
        height: 9px;
        margin-left: 0.25rem;
        -webkit-transition: all .3s;
        transition: all .3s;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
      }
    }
    #year-drop {
      background-color: $white-blue;
      margin-left: 1.1rem;
      li {
        list-style-type: none;
      }
    }
  }
}

/* Calendar
*/

#calendar {
  .has-tip {
    cursor: inherit;
  }
  h4 {
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.35rem 0;
    abbr[title] {
      color: $ultralight-blue;
      border-bottom: none !important;
      cursor: inherit !important;
      text-decoration: none !important;
    }
  }
  ul {
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    li {
      display: inline-block;
      text-align: center;
      width: 2.4%;
      a, span {
        display: block;
        padding: 0.35rem 0;
        min-width: 25px;
      }
      .day { background-color: $calendar-day-blue; }
      .empty   { background: transparent; }
      .weekend { background-color: #535d6c; }
      a.session-yes {
        background-color: #e9ddaf;
        color: #484537;
        border-radius: 3px;
        span { display: inline-block; padding: 0; }
      }
      .missing {
        background-color: #f1ecd5;
        color: #9e9c95;
      }
      .future {
        background-color: #434c58;
        color: #4f5a68;
      }
      .election {
        color: #E9DDAF;
        background-color: #737d9c;
        border-radius: 3px;
      }
      
    }
  }
}

@media screen and (max-width: 39.9375em) { /* Small only */
  #calendar {
    ul li {
      width: 5%;
      a, span {
        min-width: 22px;
      }
    }
  }
}


#calendar-list {
  li {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

/* Session
*/

/* ribbon titles
*/

header.row,
header.row.collapse {
	.ribbon {
	  background-color: $white;
	  clear: both;
	  padding: 0.75rem 0.65rem;
	  margin: 0 0.32rem 1rem;
	  position: relative;
	  box-shadow: 2px 2px 0 rgba($black,0.2);
	  box-sizing: content-box;

	  &:before,
	  &:after {
	    bottom: 0;
	    content: " ";
	    display: block;
	    height: 10px;
	    margin-bottom: -10px;
	    position: absolute;
	    width: 10px;
	    z-index: -1;
	  }

	  &:before {
	    background: transparent url(../img/backgrounds/ribbon-left.png) repeat 0 0;
	    left: 0;
	    right: auto;
	  }

	  &:after {
	    background: transparent url(../img/backgrounds/ribbon-right.png) repeat 0 0;
	    left: auto;
	    right: 0;
	  }
	  
	  h2 {
	    margin-bottom: 0;
	    vertical-align: middle;
	  }
  }
}

@media print, screen and (max-width: 40em) {
    header.row,
    header.row.collapse {
      margin-left: 0;
      margin-right: 0;
	    .ribbon {
	      margin-right: 0;
	      margin-left: 0;
	      box-sizing: border-box;
	      padding-left: 0.625rem;
	      padding-right: 0.625rem;
	      &:before,
	      &:after {
	        display: none;
	        position: relative;
	        background: transparent;
	        left: 0;
	        right: 0;
	      }
      }
    }
  }

.session #content {
  font-family: $font-family-serif;
  box-shadow: 0;
  padding-top: 2rem;
  
  .intro {
    font-family: $body-font-family;
    span {
      display: inline-block;
      padding: 0.25rem 0.75rem;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 3px;
    }
  }
  
  .notice {
    font-family: $body-font-family;
    font-style: italic;
    text-align: right;
  }

  .entry {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    .speaker {
      padding-top: 1.25rem;
      font-family: $body-font-family;
      text-align: right;
      h5 {
        line-height: 1.2;
        margin-bottom: 0;
      }
      .profile-pic {
        display: inline-block;
        margin: 0 auto;
      }
      .party {
        display: block;
      }
      p strong {
          font-size: 1.25rem;
          font-weight: 300;
      }
    }
    
    .entry-content {
      p:first-child {
        border-top: 1px solid $ultralight-blue;
        padding-top: 1.25rem;
      }
      .p:last-child { margin-bottom: 0; }
    }
    
    &:first-child .entry-content p:first-child { border-top: 0; }
    
    &.nota,
    &.aplausos{
      p {
        color: rgba($dark-blue, 0.6);
        font-style: italic;
      }
    }
    
    &.protestos {
      p {
        color: rgba($dark-blue, 0.6);
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  
    &.continuacao {
      .speaker {
        .profile-pic {
          width: 30px;
          height: 30px;
          background: #fff;
          img { width: 24px; }
        }
        h5 {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    &.aparte {
      .speaker {
        .profile-pic {
          width: 30px;
          height: 30px;
          background: #fff;
          img { width: 24px; }
        }
        h5 {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }
}

/* MP list
*/

body.mp-list {
  ul.mp-list {
    -moz-column-count: 3;
    -moz-column-gap: 1.8175rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.8175rem;
    column-count: 3;
    column-gap: 1.8175rem;
    min-height: 600px;
    
    li {
      padding: 0.5rem 0 0.25rem;
      border-bottom: 1px solid $ultralight-blue;
    }
  }
}

/* MP page
*/

body.mp {
  
  #mp-header {
    h2 {
      line-height: 1;
      padding-left: 1rem;
      padding-right: 1rem;
      span {
        display: inline-block;
        vertical-align: middle;
        small {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  ul ul {
    margin-bottom: 1rem;
  }
  
  dl {
    display: table;
    clear: both;
    line-height: 1.2;
    dt {
      display: inline-block;
      float: left;
      clear: both;
      min-width: 11rem;
      margin-right: 1rem;
    }
    dd {
      display: inline-block;
      float: left;
      margin-bottom: 0.25rem;
    }
  }
    
  table.mandates {
    border-spacing: 0 0.45rem;
    border-collapse: collapse;
    width: 100%;
    
    th {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    td {
      border-top: 2px solid $ultralight-blue;
      &.party::before {
        content: "";
        background-color: $cds-pp;
        display: inline-block;
        margin-right: 0.3125rem;
        height: 0.625rem;
        width: 0.625rem;
        border-radius: 0.625rem;
      }
      &.ps::before { background-color: $ps; }
      &.psd::before { background-color: $psd; }
      &.pcp::before { background-color: $pcp; }
      &.be::before { background-color: $be; }
      &.cds-pp::before { background-color: $cds-pp; }
      &.pev::before { background-color: $pev; }
      small {
        font-size: 85%;
        font-weight: 700;
        opacity: 0.6;
        margin-left: 1rem;
      }
      a {
        display: inline-block;
        border-bottom: 1px solid $ultralight-blue;
        margin-right: 0.45rem;
      }
    }
  }
  
}

/* Footer
*/

#footer {
  color: $ultralight-blue;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0 -1px 1px rgba($black, 0.3);
  
  .row {
    a {
     color: $white !important;
     display: inline-block;
     text-shadow: 0 -1px 1px rgba($black, 0.3);
    }

    h1, h2, h3, h4, h5, h6 {
      color: $ultralight-blue;
      margin-top: 2.5rem;
    }

    p {
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .credits {
      a {
        margin: 0 0.65rem;
        &.thackday img {
          margin-right: 0.25rem;
        }
      }
      img {
        height: 15px;
        width: auto;
      }
    }
  }
}



