<!doctype html>
<html class="no-js" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Demo.cratica{% endblock %}</title>
    <meta name="description" content="A forma fácil de ler o Parlamento. Um site independente para saber quem são e o que dizem os deputados da Assembleia da República Portuguesa.">

    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    
    <!-- Facebook share -->  
    <meta property="og:title" content="{% block ogtitle %}Demo.cratica{% endblock %}"/>
    <meta property="og:description" content="{% block ogdescription %}A forma fácil de ler o Parlamento. Um site independente para saber quem são e o que dizem os deputados da Assembleia da República Portuguesa.{% endblock %}"/>
    <meta property="og:url" content="http://demo.cratica.org{% block ogurl %}/{% endblock %}"/>
    <meta property="og:image" content="{% block ogimage %}http://demo.cratica.org:7080/media/img/democratica-white-small.png{% endblock %}"/>
    <meta property="og:type" content="{% block ogtype %}website{% endblock %}"/>
  </head>
  <body class="{% block extrabodyclass %}default{% endblock %}">

    <nav id="main-menu">
      <div class="top-bar">
        <div class="row">
          <div class="top-bar-title">
            <span id="logo"><a href="/">Demo.cratica</a></span>
            <span class="main-menu-icon show-for-small-only float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <button class="menu-icon" type="button" data-toggle></button>
            </span>
          </div>
          <div id="responsive-menu">
            <div class="top-bar-left">
              <ul class="menu vertical medium-horizontal">
                <li {% if page_name == "deputados" %} class="active" {% endif %}><a href="/deputados/">Deputados</a></li>
                <li {% if page_name == "sessoes" %} class="active" {% endif %}><a href="/sessoes/">Sessões</a></li>
                <li {% if page_name == "acerca" %} class="active" {% endif %}><a href="/acerca/">Acerca</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="menu vertical medium-horizontal">
                <li>
                  <form method="get" action="https://duckduckgo.com/?site=demo.cratica.org&kl=pt-pt">
                    <div class="input-group">
                      <input type="hidden" name="sites" value="demo.cratica.org">
                      <input type="hidden" name="kl" value="pt-pt">
                      <input type="search" placeholder="Pesquisar nas sessões..." name="q" class="input-group-field">
                      <div class="input-group-button">
                        <input type="submit" value="Pesquisar" class="button">
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>        
        </div><!-- /.row.column -->
      </div>
    </nav><!-- /#main-menu -->
    
    <div id="content">
      {% block content %}{% endblock %}
    </div> <!-- /#content -->
    
    <footer id="footer">
      <div class="row text-center">
        <div class="small-12 columns">
          <h4>Um projecto <a target="_blank" href="manufacturaindependente.org"><img src="/assets/img/logos/manufactura.png" alt="Manufactura Independente"></a></h4>
          <h5>Apoio e Suporte</h5>
          <p class="credits">
            <a target="_blank" href="http://unimos.net"><img src="/assets/img/logos/unimos.png" alt="Unimos.net"></a>
            <a class="thackday" target="_blank" href="http://transparenciahackday.org"><img src="/assets/img/logos/transparencia.png" alt="Transparência Hackday Portugal"> Transparência Hackday Portugal</a>
            <a target="_blank" href="http://hacklaviva.net"><img src="/assets/img/logos/hacklaviva.png" alt="Hacklaviva"></a>
          </p>
          <h5>Fontes de Informação</h5>
          <p><a href="http://www.parlamento.pt/">Parlamento.pt</a></p>
		      <p>Estamos no <a href="http://twitter.com/demo_cratica" target="_blank">Twitter</a></p>
        </div>
      </div><!-- /.row -->
    </footer> <!-- /#footer -->

    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/what-input/dist/what-input.js"></script>
    <script src="/bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="/bower_components/list.js/dist/list.js"></script>
    <!-- endbower -->
    
    <script>
      $(document).foundation();
    </script>
    
    {% block extrascripts %}{% endblock %}
    
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setCookieDomain", "*.demo.cratica.org"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.manufacturaindependente.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 2]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//piwik.manufacturaindependente.org/piwik.php?idsite=2" style="border:0;" alt=""></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>


