<!doctype html>
<html class="no-js" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Demo.cratica (Beta){% endblock %}</title>
    <meta name="description" content="A forma fácil de ler o Parlamento. Um site independente para saber quem são e o que dizem os deputados da Assembleia da República Portuguesa.">

    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    
    <!-- Facebook share -->  
    <meta property="og:title" content="{% block ogtitle %}Demo.cratica (Beta){% endblock %}"/>
    <meta property="og:description" content="{% block ogdescription %}A forma fácil de ler o Parlamento. Um site independente para saber quem são e o que dizem os deputados da Assembleia da República Portuguesa.{% endblock %}"/>
    <meta property="og:url" content="http://demo.cratica.org{% block ogurl %}/{% endblock %}"/>
    <meta property="og:image" content="{% block ogimage %}http://demo.cratica.org:7080/media/img/democratica-white-small.png{% endblock %}"/>
    <meta property="og:type" content="{% block ogtype %}website{% endblock %}"/>
  </head>
  <body class="{% block extrabodyclass %}default{% endblock %}">
    
    <div class="contain-to-grid main-menu">
      <nav class="top-bar" role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Demo.cratica</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="has-form">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <input placeholder="Em construção!" type="text">
                </div>
                <div class="large-4 small-3 columns">
                  <a href="#" class="button expand">Pesquisar</a>
                </div>
              </div>
            </li>
          </ul>
          <ul class="left">
            <li><a href="/deputados/">Deputados</a></li>
            <li><a href="/sessoes/">Sessões</a></li>
          </ul>
        </section>
      </nav>
    </div>
    
    <div id="content" class="row collapse">
      {% block contentdiv %}{% endblock %}
    </div> <!-- /#content -->
    
    <footer id="footer">
      <div id="footer-box">
        <p class="follow-twitter">Estamos no <a href="http://identi.ca/demo_cratica">identi.ca </a> e no <a href="http://twitter.com/demo_cratica">twitter</a></p>
        
        <h5>Um projecto </h5>
        <p><a href="http://manufacturaindependente.org" class="manufactura footer-logo" title="Manufactura Independente">Manufactura Independente</a></p>
        
        <h5>Apoio e Suporte</h5>
        <ul>
          <li><a href="http://unimos.net" class="unimos footer-logo" title="Unimos.net">Unimos.net</a></li>
          <li><a href="http://transparenciahackday.org" class="transparencia-porto footer-logo" title="Transparência Hackday Portugal">Transparência Hackday Portugal</a></li>
          <li>Hacklaviva</li>
        </ul>
        
        <h5>Fontes de Informação</h5>
        <p><a href="http://www.parlamento.pt/">Parlamento.pt</a></p>
        
      </div> <!-- /#footer-box -->
    </footer> <!-- /#footer -->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <script src="../bower_components/fastclick/lib/fastclick.js"></script>
    <script src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="../bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="../bower_components/foundation/js/foundation.js"></script>
    <!-- endbower -->
    
    <script type="text/javascript">
      $(document).foundation()
    </script>

    {% block extrascripts %}{% endblock %}
    
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setCookieDomain", "*.centraldedados.pt"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.manufacturaindependente.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 2]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//piwik.manufacturaindependente.org/piwik.php?idsite=2" style="border:0;" alt=""></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>


