{% extends "base.html" %}

{% block title %}Sessões parlamentares em {{ year_number }} &mdash; Demo.cratica{% endblock %}
{% block extrabodyclass %}{% endblock %}

{% block content %}
  <section>
    <div class="row">
      <div class="year-select large-12 columns">
        <strong>Sessões parlamentares em</strong>
        <button id="year-button" class="button" href="#" type="button" data-toggle="year-drop">{{ year_number }}</button>
        <ul id="year-drop" class="dropdown-pane" id="year-drop" data-dropdown>
          {% for y in all_years|sort(reverse=True) %}
          <li><a {% if y == year %}class="selected"{% endif %} href="/sessoes/{{ y }}/">{{ y }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- /.row-->

    <div id="calendar" class="row collapse hide-for-small-only">
      {% for month in year %}
        <div class="month row">
          <h4 class="small-1 columns"><abbr title="{{ months_short[month] }}">{{ months_short[month] }}</abbr></h4>
          <ul class="no-bullet small-11 columns">
          {% for day in year[month] %}
            {% if day == 1 %}
              {%+ for x in range(year[month][day].weekday) %} 
              <li><span class="day empty">&nbsp;</span></li>
              {% endfor %}
            {% endif %}
            {% if year[month][day]['has_session'] == True %}
            <li>
              <a href="{{ "/sessoes/%d/%02d/%02d/" % (year_number, month, day) }}" class="session-yes  {% if year[month][day]['weekday'] in [0,6] %}weekend{% endif %}">
                {% if year[month][day]['topword'] %}
                  <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="{{ year[month][day]['topword'] }}">
                    {{ day }}
                  </span>
                {% else %}
                  {{ day }}
                {% endif %}
              </a>
            </li>
            {% else %}
              <li>
                <span class="day  {% if year[month][day]['weekday'] in [0,6] %} weekend{% endif %}">
                  {{ day }}
                </span>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div><!-- /.month .row -->
      {% endfor %}
    </div><!-- /#calendar .row--> 
    
    <!-- Mobile calendar -->
     <div id="list-calendar" class="row show-for-small-only">
        <div class="year small-12 columns">
          {% for month in year %}
          <div class="month">
            <ul class="no-bullet text-center">
            {% for day in year[month] %}
              {% if year[month][day]['has_session'] == True %}
              <li>
                <a href="{{ "/sessoes/%d/%02d/%02d/" % (year_number, month, day) }}" class="session-yes  {% if year[month][day]['weekday'] in [0,6] %}weekend{% endif %}">
                  {% if year[month][day]['topword'] %}
                    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="{{ year[month][day]['topword'] }}">
                      {{ day }} {{ months[month] }} {{ year_number }}
                    </span>
                  {% else %}
                    {{ day }}
                  {% endif %}
                </a>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div><!-- /month -->
          {% endfor %}
        </div><!-- /.year.columns -->
      </div><!-- /#list-calendar .row-->
    
  </section>

{% endblock %}

{% block extrascripts %}
{% endblock %}

