{% extends 'base_transcripts.html' %}

{% block extrabodyclass %}session{% endblock %}

{% block title %}{{ session_date.day }} de {{ monthnames[session_date.month-1] }} de {{ session_date.year }} &mdash; Demo.cratica (Beta){% endblock %}

{% block ogtitle %}{{ session_date }} &mdash; Demo.cratica (Beta){% endblock %}
{#{% block ogurl %}{% url "day_detail" day.date.year day.date.month day.date.day %}{% endblock %} #}
{% block ogtype %}transcript{% endblock %}

{% block content %}
	  <header class="row">
	    <div class="small-12 columns">
		    <h2 class="ribbon">{{ session_date.day }} de {{ monthnames[session_date.month-1] }} de {{ session_date.year }}</h2>
    </header>
    
    <section>
      <div class="row">
	      <div class="small-12 columns">
          <p class="alert-box secondary"><strong>Nota:</strong> As transcrições ainda estão em desenvolvimento. Pode haver inconsistências e erros de processamento.</p>
		      {# {% if pdf_url %}<p>Consultar o <a href="{{ pdf_url }}">PDF oficial</a> ou a <a href="">versão web oficial</a> desta transcrição.</p>{% endif %} #}
		    </div>
		  </div>
      <div class="intervention">
	      {% for entry in contents %}
          <div class="entry row">
            <div class="speaker medium-4 small-12 columns">
	            {{ entry.speaker }}
	          </div>
            <div class="entry-content medium-8 small-12 columns">
              {{ entry.text|safe }}
	          </div>
	        </div><!-- /.entry -->
	      {% endfor %}
		  </div><!-- /.intervention -->
		
		  <p class="alert-box secondary">Versão Beta: Esta informação pode estar incompleta e/ou conter incorrecções.</p>

    </section>
{% endblock content %}


