{% extends "base.html" %}
{% block extrabodyclass %}mp white-bg{% endblock %}

{% block title %}{{ mp.shortname }} &mdash; Demo.cratica (Beta){% endblock %}

{% block ogtitle %}{{ mp.shortname }} &mdash; Demo.cratica (Beta){% endblock %}
{% block ogurl %}{{ url }}{% endblock %}
{% block ogimage %}{% if mp.photo_url %}{{ mp.photo_url }}{% endif %}{% endblock %}
{% block ogtype %}politician{% endblock %}
{% block ogdescription %}Dados sobre {{ mp.shortname }} no Demo.cratica, a forma fácil de ler o Parlamento.{% endblock %}

{% block content %}

  <header id="mp-header" class="row">
    <div class="small-12 columns ribbon">
          <h2>
            {% if mp.photo_url %}
              <span class="profile-pic"><img src="{{ mp.photo_url }}" alt="{{ mp.shortname }}"></span>
            {% endif %}
            <span>
              <small><img src="/assets/img/parties/{{ mp.party|lower }}.png" alt="{{ mp.party }}"></small>
              {{ mp.shortname }}
            </span>
          </h2>
    </div>
  </header>

  <section>
    <div class="row">
      <div class="small-12 columns">    
        <h3>Dados</h3>
        <dl>
          <dt>Nome completo</dt><dd>{{ mp.name }}</dd>
          <dt>Partido</dt><dd>{{ mp.party }}</dd>
          <dt>Data de nascimento</dt><dd>{{ mp.birthdate }}</dd>
          <dt>Profissão</dt><dd>{{ mp.occupation }}</dd>
        </dl>
        <h3>Mandatos</h3>
        <table class="mandates">
          <thead>
            <tr>
              <th>Legislatura</th>
              <th>Partido</th>
              <th>Círculo</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            {% for mandate in mp.mandates|sort(reverse=True, attribute='legislature') %}
              <tr>
                {% if mandate.end_date %}
                  <td>{{ mandate.legislature }}ª <small>{{ mandate.start_date.year }}&mdash;{{ mandate.end_date.year }}</small></td>
                  <td class="party {{ mp.party|lower }}">{{ mandate.party }}</td>
                  <td>{{ mandate.constituency }}</td>
                {% else %}
                  <td>{{ mandate.legislature }}ª <span>{{ mandate.start_date|date }}&mdash;</span></td>
                  <td>{{ mandate.party }}</td>
                  <td>{{ mandate.constituency }}</td>
                {% endif %}
                <td>
                  <a href="{{ mandate.activity_url }}">Atividade</a>
                  {% if mandate.interest_url %}
                    <a href="{{ mandate.interest_url }}">Registo de interesses</a>
                  {% endif %}
                </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
        
        <h3>Habilitações e cargos</h3>
        <ul class="no-bullet">
          {% if mp.education %}
            <li>
              <strong>Habilitações Literárias</strong>
              <ul>
                {% for item in mp.education %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          {% if mp.current_jobs %}
            <li>
              <strong>Cargos atuais</strong>
              <ul>
                {% for item in mp.current_jobs %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          {% if mp.commissions %}
            <li><strong>Comissões Parlamentares</strong>
              <ul>
                {% for item in mp.commissions %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        </ul>   
        {% if mp.govposts %}
          <h4>Cargos Governamentais</h4>
          <ul>
            {% for p in mp.govposts %}
            <li>G.C. {{ p.gov.number }} ({{ p.gov.start_date|date }}-{{ p.gov.end_date|date }}): <strong>{{ p.post }}</strong> 
              {% if p.gov.start_date != p.start_date and p.gov.end_date != p.end_date %}(desde {{ p.start_date|date }} até {{ p.end_date|date }})
              {% else %}
              {% if p.gov.start_date != p.start_date %}(desde {{ p.start_date|date }}){% endif %}
              {% if p.gov.end_date != p.end_date %}(até {{ p.end_date|date }}){% endif %}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if mp.jobs %}
          <h4>Cargos exercidos</h4>
          <ul>
            {% for item in mp.jobs %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if mp.awards %}
          <h4>Condecorações</h4> 
          <ul>
            {% for item in mp.awards %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if mp.favourite_word %}
          <h4>Factos</h4>
          <ul>
            <li>Segundo as nossas contas, a palavra preferida de {{ mp.shortname }} é <strong>{{ mp.favourite_word }}</strong>.
          </ul>
        {% endif %}

        {% if mp.news %}
          <h4>Notícias recentes</h4>
            <ul>
              {% for newsobj in mp.news %}
              <li><a href="{{ newsobj.url }}">{{ newsobj.title }}</a><small> {{ newsobj.source }}</small></li>
              {% endfor %}
            </ul>
        {% endif %}

        <h4>Ligações</h4>
        <ul class="no-bullet">
          <li><a href="http://www.parlamento.pt/DeputadoGP/Paginas/Biografia.aspx?BID={{ mp.id }}">Parlamento.pt</a></li>
          {% if mp.email %}<li class="email"><a href="mailto:{{ mp.email }}" title="{{ mp.email }}" rel="tipsy">Enviar e-mail</a></li>{% endif %}
          {% if mp.website_url %}<li><a href="{{ mp.website_url }}">Website</a></li>{% endif %}
          {% if mp.blog_url %}<li><a href="{{ mp.blog_url }}">Blog</a></li>{% endif %}

          {% if mp.wikipedia_url %}<li><a href="{{ mp.wikipedia_url }}">Wikipedia</a></li>{% endif %}
          {% if mp.twitter_url %}<li><a href="{{ mp.twitter_url }}">Twitter</a></li>{% endif %}
        </ul>

        {% if mp.tweets %}
          <h4>Últimos tweets</h4>
          <ul class="no-bullet">
            {% for t in mp.tweets %}
            <li><a href="{{ l.twitter_url }}/statuses/{{ t.id }}">#</a> {{ t.text }} <small>há {{ t.created_at }}</small></li>
            {% endfor %}
          </ul>
        {% endif %}
    </div><!-- /.row -->

    <div class="row">
      <div class="small-12 columns">
	    <p class="alert-box secondary">Versão Beta: Esta versão pode estar incompleta e/ou conter incorrecções.</p>
	  </div><!-- /.row-->

  </section>
{% endblock %}
