{% extends "base.html" %}

{% block extrabodyclass %}session white-bg{% endblock %}

{% block title %}Deputados &mdash; Demo.cratica (Beta){% endblock %}

{% block content %}

  <section>
    <div class="row">
      <div class="large-12 columns">

      {% for col in mps|sort(attribute="shortname")|slice(3) %}
        <ul class="no-bullet mp-list{% if loop.last %} last{% endif %}">
          {% for mp in col %}   
            <li class="{{ loop.cycle('odd', 'even') }}"><a href="/deputados/{{ mp.slug }}/">
              <span class="party {{ mp.party|lower }}">{{ mp.party }}</span>
              <span class="name">{{ mp.shortname }}</span>
            </a></li>
          {% endfor %}
        </ul>
      {% endfor %}

      </div>
    </div><!-- /.row--> 

    <div class="row">
      <div class="small-12 columns">
  	  <p class="alert-box secondary">Versão Beta: Esta lista pode estar incompleta e/ou conter incorrecções.</p>
  	</div>
  	
  </section><!-- /.row-->
  
{% endblock %}
