{% extends "base.html" %}

{% block extrabodyclass %}mp-list white-bg{% endblock %}

{% block title %}Deputados &mdash; Demo.cratica{% endblock %}

{% block content %}
  <div class="row collapse">
    <section id="mpsearch-items">
      <div id="mpsearch-list">
        <div class="column row">
          <input id="mpsearch-input" class="search" type="text" placeholder="Pesquisar...">
        </div>
        <div class="column row search-filters">
          <span>
            <input id="mpsearch-active" type="checkbox" />
            <label for="mpsearch-active">Apenas deputados ativos</label>
          </span>
          <label class="middle">Ordenar por:</label>
          <div class="small button-group">
            <a class="sort button hollow" data-sort="name">Nome</a>
            <a class="sort button hollow" data-sort="party">Partido</a>
          </div>
        </div>
      </div><!-- /.row #mpsearch-list -->
      
      <div class="row">
        {# Esta era a lista antiga que dividia em 3 colunas.
        <div class="large-12 columns">
        {% for col in mps|sort(attribute="shortname")|slice(3) %}
          <ul class="no-bullet list mp-list{% if loop.last %} last{% endif %}">
            {% for mp in col %}   
              <li class="{{ loop.cycle('odd', 'even') }}"><a href="/deputados/{{ mp.slug }}/">
                <span class="party {{ mp.party|lower }}">{{ mp.party }}</span>
                <span class="name">{{ mp.shortname }}</span>
              </a></li>
            {% endfor %}
          </ul>
        {% endfor %}
        #}
        <div class="large-12 columns">
          <ul class="no-bullet list mp-list">
            {% for mp in mps|sort(attribute="shortname") %}
              <li class="{{ loop.cycle('odd', 'even') }}" data-id="{{ mp.id }}">
                <span class="name active" data-active="{{ mp.active }}">
                  <a href="/deputados/{{ mp.slug }}/">{{ mp.shortname }}</a>
                </span>
                <span class="party {{ mp.party|lower }}">{{ mp.party }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- /.row--> 
    </section>
  </div><!-- /.row.collapse-->
  
{% endblock %}

{% block extrascripts %}
  <script>
  
  var options = {
    valueNames: [ 
      'name', 
      'party', 
      { data: ['id'] },
      { name: 'active', attr: 'data-active' }
    ]
  };
  var mpList = new List('mpsearch-items', options);
  console.log(mpList);

 $(document).ready(function() {

    $("#mpsearch-active").change(function() {
      if (this.checked) {
        mpList.filter(function(mp) {
          if (mp.values().active == "True") {
            return true;
          } else {
            return false;
          }
        });
      } else {
        mpList.filter();
      }
    });

    // Queremos apenas deputados ativos no início, ativar a checkbox
    $("#mpsearch-active").prop('checked', true).change();
    $("#mpsearch-input").focus();
  });
  </script>
{% endblock %}
