{% extends 'base.html' %}
{% block extrabodyclass %}session white-bg{% endblock %}

{% block title %}{{ date.day }} de {{ monthnames[date.month-1] }} de {{ date.year }} &mdash; Demo.cratica{% endblock %}

{% block ogtitle %}{{ date }} &mdash; Demo.cratica{% endblock %}
{#{% block ogurl %}{% url "day_detail" day.date.year day.date.month day.date.day %}{% endblock %} #}
{% block ogtype %}transcript{% endblock %}

{% block content %}
  <div class="row collapse">
    <div class="row column text-right">
      <p class="intro"><span>
        <strong>{{ leg }}ª</strong> Legislatura &mdash; <strong>{{ sess }}ª</strong> Sessão Legislativa &mdash; Diário n.º <strong>{{ num }}</strong>
      </span></p>
    </div>
    <header class="row">
      <div class="small-12 columns ribbon text-center">
	      <h2>{{ date.day }} de {{ monthnames[date.month-1] }} de {{ date.year }}</h2>
	    </div>
    </header>

    <section>
      {% if url_pdf %}
        <div class="row notice">
          <div class="medium-10 medium-offset-2 small-9 small-offset-3 columns">
            <p>Consultar o <a href="{{ url_pdf }}" target="_blank">PDF oficial</a> ou a <a href="{{ url_debates }}" target="_blank">versão web oficial</a> desta transcrição.</p>
          </div>
        </div>
      {% endif %}
      {% set counter = 1 %}
      {% for entry in contents %}
        <div id="{{ counter }}" class="entry {{ entry.type.replace('-', ' ') }} row">
          {% include "snippets-session/" + entry.type + ".html" %}
          <!-- trocar por algo mais apropriado -->
          <!-- <a href="/sessoes/{{ date.strftime("%Y/%m/%d") }}/#{{ counter }}">Permalink</a> -->
          {% set counter = counter + 1 %}
        </div><!-- /.entry.row -->
      {% endfor %}
    </section>
  </div>
  
{% endblock content %}


