{% extends 'base.html' %}

{% block extrabodyclass %}session white-bg{% endblock %}

{% block title %}{{ date.day }} de {{ monthnames[date.month-1] }} de {{ date.year }} &mdash; Demo.cratica{% endblock %}

{% block ogtitle %}{{ date }} &mdash; Demo.cratica{% endblock %}
{#{% block ogurl %}{% url "day_detail" day.date.year day.date.month day.date.day %}{% endblock %} #}
{% block ogtype %}transcript{% endblock %}

{% block content %}

 <div class="row collapse">
    <header class="row">
      <div class="small-12 columns ribbon text-center">
	      <h2>{{ date.day }} de {{ monthnames[date.month-1] }} de {{ date.year }}</h2>
	    </div>
    </header>

  <section>
    {% if url_pdf %}
      <div class="row notice">
        <div class="medium-10 medium-offset-2 small-9 small-offset-3 columns">
          <p>Consultar o <a href="{{ url_pdf }}" target="_blank">PDF oficial</a> ou a <a href="{{ url_debates }}" target="_blank">versão web oficial</a> desta transcrição.</p>
        </div>
      </div>
    {% endif %}
    <div class="entry row">
       <div class="entry-content medium-offset-2 medium-10 small-12 columns">
        {{ text|safe }}
       </div>
     </div>
  </section>
</div>
  
{% endblock content %}


