{% extends 'base.html' %}

{% block extrabodyclass %}session white-bg{% endblock %}

{% block title %}{{ date.day }} de {{ monthnames[date.month-1] }} de {{ date.year }} &mdash; Demo.cratica{% endblock %}

{% block ogtitle %}{{ date }} &mdash; Demo.cratica{% endblock %}
{#{% block ogurl %}{% url "day_detail" day.date.year day.date.month day.date.day %}{% endblock %} #}
{% block ogtype %}transcript{% endblock %}

{% block content %}

  <header class="row">
    <div class="small-12 columns text-center">
      <h2 class="ribbon">{{ date.day }} de {{ monthnames[date.month-1] }} de {{ date.year }}</h2>
    </div>
  </header>

  <section>
    <div class="row">
      <div class="small-12 columns">
        {% if url_pdf %}<p>Consultar o <a href="{{ url_pdf }}" target="_blank">PDF oficial</a> ou a <a href="{{ url_debates }}" target="_blank">versão web oficial</a> desta transcrição.</p>{% endif %}
      </div>
    </div>
    <div class="intervention">
     <div class="entry row">
       <div class="entry-content medium-offset-2 medium-10 small-12 columns">
        {{ text|safe }}
       </div>
     </div>
    </div><!-- /.intervention -->
  </section>
  
{% endblock content %}


